.container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #e37222
}
.question-box {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 600px;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.question-answer {
  margin: 20px;
  width: 650px;
  text-align: left;
}
.question {
  font-weight: bold;
}